<!-- ./views/ranking.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">
        <h1 class="title text-center my-4">User Ranking</h1> <!-- タイトルに title クラスを追加 -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Sadistic Score</th>
                </tr>
            </thead>
            <tbody>
                {{ range .users }}
                <tr>
                    <td>{{ .Name }}</td>
                    <td>{{ .SadisticScore }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>

    <!-- <script src="/static/script.js"></script> -->
</body>
</html>
